{% extends "comms/base.html" %}
{% load static %}
{% block content %}
<!-- body -->
<div class="container mt-5 pb-5 bg-white">
    <div class="row">
        <div class="col-md-12">
            {% if not is_expanded %}
            <a href="{% url 'comms:addComment' 0 %}" class="btn btn-primary mt-3">Add Root
                Comment</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="display-5">Comments</h1>
            {% if is_expanded %}

            {% if comments and comments.0 and comments.0.obj.parent_comment %}
            <a href="{% url 'comms:commentExpand' comments.0.obj.parent_comment.pk %}" class="btn btn-primary">Go Up</a>
            {% endif%}

            <a href="{% url 'comms:detail' %}" class="btn btn-primary">Go To Root</a>
            {% endif %}
            {% for c0 in comments %}
            <div class="media mt-3" pk="{{ c0.obj.pk }}" hasMore="{{ c0.more }}">
                <img src="{% static 'comms/img/rarrow.png' %}" height="32px" width="32px" class="mr-3">
                <div class="media-body">
                    {% if c0.obj.comment_media %}
                    <img src="{{c0.obj.comment_media.url}}"><br>
                    {% endif %}
                    {{ c0.obj.comment_text }} <br>
                    <a href="{% url 'comms:addComment' c0.obj.pk %}" class="btn btn-primary">Reply</a>

                    {% for c1 in c0.children %}
                    <div class="media mt-3" pk="{{ c1.obj.pk }}" hasMore="{{ c1.more }}">
                        <img src="{% static 'comms/img/rarrow.png' %}" height="32px" width="32px" class="mr-3">
                        <div class="media-body">
                            {% if c1.obj.comment_media %}
                            <img src="{{c1.obj.comment_media.url}}"><br>
                            {% endif %}
                            {{ c1.obj.comment_text }} <br>
                            <a href="{% url 'comms:addComment' c1.obj.pk %}" class="btn btn-primary">Reply</a>

                            {% for c2 in c1.children %}
                            <div class="media mt-3" pk="{{ c2.obj.pk }}" hasMore="{{ c2.more }}">
                                <img src="{% static 'comms/img/rarrow.png' %}" height="32px" width="32px" class="mr-3">
                                <div class="media-body">
                                    {% if c2.obj.comment_media %}
                                    <img src="{{c2.obj.comment_media.url}}"><br>
                                    {% endif %}
                                    {{ c2.obj.comment_text }} <br>
                                    <a href="{% url 'comms:addComment' c2.obj.pk %}" class="btn btn-primary">Reply</a>
                                    {% if c2.more %}
                                    <a href="{% url 'comms:commentExpand' c2.obj.pk %}"
                                        class="btn btn-primary">Expand</a>
                                    {% endif %}

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}